@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    padding: 5% 10%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

ol {
    list-style-type: lower-alpha;
    padding: 0;
}

ul {
    text-align: center;
    color: #00f;
    line-height: 1.6;
    list-style-position: inside;
    /* list-style: square url('checkmark.png') inside; */
}

ol li {
    color: red;
}

ul li:nth-child(2) {
    color: green;
}

ul li:nth-child(odd) {
    font-style: italic;
}

ul ::marker {
    color: red;
    font-family: fantasy;
    font-size: 1.5em;
    content: 'Only $5 >> ';
}